<%= content_for :title, 'Home' %>

<div class="container" data-controller="identifier">
  <div class="row text-white searchbar">
    <div class="col-12 text-center py-3">
      <%= image_tag 'marvel_logo.png', alt: 'Marvel Logo', class: 'mb-3' %>
      <h1>Comics</h1>
      <%= form_with(url: home_index_path(), method: :get, html: { class: 'form-inline justify-content-center' }, data: { turbo_frame: 'comics_list', turbo_action: 'advance' }, remote: true) do |form| %>
        <div class="form-group">
          <%= form.hidden_field :page, value: @page %>
          <%= form.text_field :search, value: params[:search], class: 'form-control mr-2' %>
        </div>
      <% end %>
    </div>
  </div>

  <%= turbo_frame_tag "comics_list", src: home_index_path(format: :turbo_stream, page: @page, search: @search) do %>
    Loading comics list...
  <% end %>
</div>

<style>
.comic-image-container {
  position: relative;
}

.img-fluid {
  width: 100%;
}

.fav-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
}

.fav-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.fav-icon.fav-on {
  background-image: url(<%= asset_path 'heart_on.png' %>);
}

.fav-icon.fav-off {
  background-image: url(<%= asset_path 'heart_off.png' %>);
}

.fav-count {
  background-color: lightgrey;
  padding: 5px;
  border-radius: 5px;
  color: black;
}

.fav-button:hover .fav-icon {
  background-image: url(<%= asset_path 'heart_hover.png' %>);
}
</style>