<%= content_for :title, 'Home' %>

<div class="container" data-controller="identifier">
  <div class="row text-white searchbar">
    <div class="col-12 text-center py-3">
      <%= image_tag 'marvel_logo.png', alt: 'Marvel Logo', class: 'mb-3' %>
      <h1>Comics</h1>
      <%= form_with(url: home_index_path(), method: :get, html: { class: 'form-inline justify-content-center' }, data: { turbo_frame: 'comics_list', turbo_action: 'advance' }, remote: true) do |form| %>
        <div class="form-group">
          <%= form.hidden_field :page, value: @page %>
          <%= form.text_field :search, value: params[:search], class: 'form-control mr-2' %>
        </div>
      <% end %>
    </div>
  </div>

  <%= turbo_frame_tag "comics_list", src: home_index_path(format: :turbo_stream, page: @page, search: @search) do %>
    Loading comics list...
  <% end %>
</div>